*{
    margin:0;
    padding:0;
}
nav{
    display: flex;   
    width:100%;
    position:fixed;
}
.side-bar{
    width: 10%;
    padding:20px;
    border-right:1px solid rgba(213, 213, 213,0.4);
}
.side-bar ul{
    margin-top: 20px;
}
.side-bar ul li{
    margin-top:20px;
    list-style:none;
    margin-bottom: 50px;
}
.side-bar ul li a{
    text-decoration: none;
    color:black;
   
}
.side-bar ul li img{
    width:15px;
    height:15px;
    margin-right:10px;
}
.side-bar ul li:hover{
    text-decoration: rgb(255, 157, 0) underline;
}
.admin-section{
    width:70%;
    display: flex;
}
 nav{
    display:flex;
    justify-content:space-between;
}
.search-bar input{
    border:none;
    background-color: transparent;
    padding-left:5px;
    height: 30px;
    outline: none;
    
}
.search-bar{
    border:1px solid black;
    border-radius:10px;
    height:30px;
    /* padding:5px; */
}
.date{
    margin-top:50px; 
    margin-right: 500px;

}
.date img{
    width:20px;
    height:20px;
}
.date p{
    display:inline;
    margin-left:10px;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    width:30%;
    margin-top:50px;
}
.profile{
    border-radius:50%;
    border: 1px solid black;
    width:30px;
    height:30px;
}
.profile img{
    width:30px;
    height:30px;
}
.adminPanel{
    width:100%;
    display: flex;
    height:40vh;
    flex-direction: column;
    justify-content: center;
    /* margin-top:200; */
    /* align-items: center; */
}
.admin-table{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width:60%;
    margin-left:20%;
    margin-top:100px;
}
table, th, td {
    border:none;
    border-top: 1px solid rgb(0, 0, 0,0.4);
    border-bottom:1px solid rgba(0, 0, 0,0.4); ;
    border-collapse: collapse;
    padding:10px 0px;
    margin:0px 10px;
  }
  td{
  text-align: center;

  }
  td p{
    display: inline;

  }
  td img{
    width:15px;
    height: 15px;
   display: inline-block;
  }
.quick-display{
    margin-left: 200px;
}
.heading{
    display: flex;
    width:30%;
    justify-content: space-around;
    margin-top: 200px;
}
.heading p{
  padding:5px;
  background-color:rgba(213, 213, 213,0.4);
  border-radius: 5px;
}

.Order-info{
 display: flex;
 margin-top: 40px;
 justify-content: space-around;
 /* color:white; */
}
.Order-info span{
    border-right:1px solid rgba(0, 0, 0, 0.5);
    margin-right:5px;
    padding: 5px;
}
.Order-info p{
    padding:10px;
}
.Orders{
    padding:10px 30px;
    border-radius:10px;
    background-color: rgba(0, 136, 255, 0.3);
}