*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  display:flex;
  margin: 0.5em;
  position: relative;
}

.title{
  height: fit-content;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding:10px;
  border-radius:10px;
}
.item{
 border:1px solid rgba(0, 0, 0,0.3);
 height: fit-content;
 background-color: rgba(239, 239, 239,0.4);
 padding:5px;
 border-radius:10px;
}
.item img{
  object-fit:cover;
    width: 200px;
    height:200px;
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0.3);
}
.item h3{
  font-size: 1.2rem;
  margin: 15px 0px;
}
.item .buy_now{
  margin-top:10px;
  color: white;
  background-color: rgb(255,69,0,0.8);
  padding:5px;
  border:none;
  border-radius:5px;
}
.item .button{
  background-color:rgb(255,69,0,0.8);
  color:white;
  border-radius: 5px;
  padding:5px;
  border:none;
}
.item .price{
  font-size: 1.2rem;
  font-weight: 500;

}
.items{
  display:flex;
  font-size: 0.8rem;
  margin-bottom:30px;
  margin-top:30px;
}
.cartdetails img{
 height:60px;
 width:60px;
 background-color:lightgrey;
 padding:15px;
 border-radius:10px;
 margin-right:5px;
}
.cartdetails{
  padding: 10px 50px;
}
.orderSummary{
  position:sticky;
  top: 0;
  right:0;
  margin-left:100px;
  width:fit-content;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  border-radius:10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0,0.5);
}
/* .menuSection{
  
  display:flex;
  justify-content: center;
  align-items: center; 
} */
.menuSection{
  margin-top:20px;
  display:grid;
  grid-template-columns:repeat(3,250px);
  grid-template-rows: repeat(3,250px);
  gap:150px;
}
.food-item{
  border:none;
  background-color: transparent;

}
.cartdetails input{
  margin-bottom:20px;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

.cartdetails input[type="radio"]{
 accent-color: orangered;
 width:20px;
 height:20px;
}
.cartdetails p{
  margin-bottom: 10px;
}
.cartdetails button{
  padding:10px 50px;
  border:none;
  background-color:rgb(255,69,0,0.8);                      
  font-size: larger;
  color:white;
  border-radius:5px;
}
.cartdetails button:hover{
  background-color:rgb(72, 240, 57);
}

.first-radio{
  margin-right:10px;
}
/* label{
  margin-right:10px;
} */
.inputs{
 border-top:1px dotted rgba(0, 0, 0,0.5);
 border-bottom:1px dotted rgba(0, 0, 0,0.5);
 padding:5px;
}
#label2{
  margin-right:15px;
}
